TextField {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0);
    -fx-prompt-text-fill: #366155;
    -fx-text-fill: #366155;
    -fx-alignment: center;
    -fx-background-radius: 8 8 8 8;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


PasswordField {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0);
    -fx-prompt-text-fill: #366155;
    -fx-text-fill: #366155;
    -fx-background-radius: 8 8 8 8;
    -fx-alignment: center;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.errorHandling{
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-fill: #BA1616;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

CheckBox{
    -fx-text-fill: gold;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
}


ProgressBar {
    -fx-background-color: transparent;
}

ProgressBar .bar {
    -fx-background-color: olive;
}

ProgressBar .track {
    -fx-background-color: lightgray;
}

RadioButton {
    -fx-text-fill: olive;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

RadioButton .dot {
    -fx-background-color: lightgray;
}

RadioButton:selected .dot {
    -fx-background-color: olive;
}

RadioButton:hover {
    -fx-cursor: hand;
}

ToggleButton {
    -fx-background-color: transparent;
    -fx-text-fill: olive;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

ToggleButton:selected {
    -fx-background-color: #ADD8E6;
}

ToggleButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #E0FFFF;
}

Slider {
    -fx-background-color: transparent;
}

Slider .track {
    -fx-background-color: lightgray;
}

Slider .thumb {
    -fx-background-color: olive;
}

Button {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: silver;
    -fx-text-fill: olive;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-max-height: 5;
}

Button:hover {
    -fx-cursor: hand;
    -fx-background-color: gold;
}

Button:pressed {
    -fx-background-color: gold;
}

.clickable {
    -fx-cursor: hand;
    -fx-underline: true;
}



.label1 {
    -fx-text-fill: gold;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

Alert {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-text-fill: olive;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

Image {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

ImageView {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.back-ground {
    -fx-background-color: white;
}

.pause-menu {
    -fx-background-color: cornsilk;
}

.headers {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: olive;
}

.player2 {
    -fx-text-fill: darkorchid;
}

.player3 {
    -fx-text-fill: aqua;
}

.other-players {
    -fx-text-fill: darkgray;
}

.BackGroundLaunch{
    -fx-background-image: url("../images/14.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.BackGroundLogin{
    -fx-background-image: url("../images/loginMenu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 1280 1024;
}

.BackGroundRegister{
    -fx-background-image: url("../images/registerMenu.PNG");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 1280 1024;
}


.combo-box
{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gold;
    -fx-font-size: 16;
    -fx-prompt-text-fill: gold;
}

.instruction-text{
    -fx-fill: gold;
    -fx-font-size: 20;
    -fx-font-family: "Bahnschrift";
    -fx-font-weight: bold;
    -fx-font-style: oblique;
}

.BackgroundMain{
    -fx-background-image: url("../images/MainMenu.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 1280 1024;
}


.profile-change-fields{
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0);
    -fx-prompt-text-fill: gold;
    -fx-text-fill: gold;
    -fx-alignment: center-left;
    -fx-background-radius: 8 8 8 8;
    -fx-font-family: "Bahnschrift";
    -fx-font-style: oblique;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-width: 20;
}

.profile-field-shower{
    -fx-fill: gold;
    -fx-font-size: 20;
    -fx-font-family: "Bahnschrift";
    -fx-font-weight: bold;
    -fx-font-style: oblique;
    -fx-border-width: 0, 0, 1, 0;
    -fx-border-color: transparent transparent gold transparent;
}

.avatar-background{
    -fx-background-image: url("../images/registerMenu.PNG");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 900 600;
}


